* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

.input-container {
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}
#phraseInput {
    width: 100%;
}